name: Release
permissions:
    contents: write

on:
    release:
        types: [published]

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Install LLVM-MOS SDK
              run: |
                  wget https://github.com/llvm-mos/llvm-mos-sdk/releases/latest/download/llvm-mos-linux.tar.xz
                  tar xf llvm-mos-linux.tar.xz
                  sudo mv llvm-mos /opt/llvm-mos
                  echo "/opt/llvm-mos/bin" >> $GITHUB_PATH
            - name: Create build environment
              run: cmake -E make_directory build
            - name: Configure
              working-directory: build/
              run: cmake $GITHUB_WORKSPACE
            - name: Package source code
              working-directory: build/
              run: cmake --build . --target mesen-integration-package

            - name: Add packaged source code to release
              uses: svenstaro/upload-release-action@v2
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: build/mesen-integration-src.zip
                  tag: ${{ github.ref }}
